[Unit]
Description=EMR eAPTs DTP Case Listener
After=network.target openmrs.service
Wants=openmrs.service

[Service]
Type=simple
User=openmrs
Group=openmrs
WorkingDirectory=/opt/emr-eAPTs
EnvironmentFile=/opt/emr-eAPTs/.env
Environment=PORT=3006
Environment=ROUTE=dtpCase
ExecStart=/usr/bin/node index.js
Restart=on-failure
RestartSec=10
StandardOutput=append:/var/log/emr-eApts-dtpCase.log
StandardError=append:/var/log/emr-eApt-dtpCase-error.log

[Install]
WantedBy=multi-user.target
