<style>
    tr,
    td {
        cursor: pointer;
    }

    tr :hover {
        background-color: darkgray;
    }
</style>
<div ng-class="{'app-filter-open': isFilterOpen}">
    <div style="background-color: wheat; padding: 0.5px;">
        <h6
            style="margin-left: 50%; font-weight: bolder; color: tomato; font-family: 'Times New Roman', Times, serif; text-decoration: underline; background-color: wheat;">
            Total: {{scheduleCount}}</h6>
    </div>
    <br>
    <div ng-if="!searchedPatient">
        <date-picker view-date="startDate" last-valid-date="lastValidDate" on-change="getAppointmentsForDate"
            show-buttons="false"></date-picker>
    </div>
    <p class="app-patient-search">
        <a ng-click="goBackToPreviousView()" ng-show="searchedPatient">{{::'RESET_KEY' | translate}}
            {{::'PATIENT_LIST_VIEW_SEARCH_HEADER' | translate}}</a>
        <patient-search on-search="displaySearchedPatient"></patient-search>
    </p>
    <button ng-show="!hasNoAppointments()" ng-click="printPage()" class="list-view-print-btn"><i class="fa fa-print"
            aria-hidden="true"></i></button>
    <div class="app-list-view">
        <p class="no-app-avab-list-view" ng-show="hasNoAppointments()">{{::'NO_APPOINTMENT_LIST_VIEW' | translate}}</p>
        <table ng-show="!hasNoAppointments()">
            <thead>
                <tr>
                    <th ng-class="{'table-mid-width': info.class}" ng-show="::info.enable"
                        ng-repeat="info in ::tableInfo" ng-click="::info.sortInfo && sortAppointmentsBy(info.sortInfo)">
                        {{ ::info.heading | translate }}
                        <span
                            ng-if="sortColumn == info.sortInfo || info.sortInfo == 'additionalInfo' && sortColumn == 'additionalInformation'">
                            <i class="fa fa-caret-up" ng-show="reverseSort"></i>
                            <i class="fa fa-caret-down" ng-show="!reverseSort"></i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="appointment in filteredAppointments" ng-click="select(appointment)"
                    ng-style="{'background-color': colorsForListView[appointment.status]}"
                    ng-class="{'selected' : isSelected(appointment)}">
                    <td>{{::appointment.patient.identifier}}</td>
                    <td class="table-mid-width">
                        <span>{{::appointment.patient.name | titleCase}}</span>
                        <span style="color: #4CAF50;">[{{::appointment.patient.age}}]</span>
                        <span style="color: #2196F3;">[{{::appointment.patient.gender}}]</span>
                    </td>
                    <!-- <td>{{::appointment.patient.age}}</td> -->
                    <!-- <td>{{::appointment.patient.gender}}</td> -->
                    <td>{{::appointment.patient.primaryPhoneNumber}} [{{::appointment.patient.alternativePhoneNumber}}]
                    </td>
                    <td>{{::appointment.startDateTime | bahmniDate}}</td>
                    <td class="table-mid-width">
                        <ul>
                            <li ng-repeat="appProvider in appointment.providers">
                                <label ng-show="appProvider.response != 'CANCELLED'">{{appProvider.name}}</label>
                            </li>
                        </ul>
                    </td>
                    <!-- <td ng-show="::enableSpecialities">{{::appointment.location.name}}</td> -->
                    <td class="table-mid-width">{{::appointment.service.name}}</td>
                    <td>{{::appointment.location.name}}</td>
                    <td>{{appointment.status}}</td>
                    <td>{{::appointment.comments}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ui-view="content@appointment"></div>
    <fieldset class="appointment-action-btn-container" ng-disabled="!selectedAppointment"
        ng-class="{'disabled': !selectedAppointment}">
        <button show-if-privilege="{{manageAppointmentPrivilege}},{{ownAppointmentPrivilege}}"
            ng-click="viewDetailInfo()" ng-disabled="!isEditAllowed()">
            {{::'View Detail Info' |translate}}
        </button>
        <button show-if-privilege="{{manageAppointmentPrivilege}},{{ownAppointmentPrivilege}}"
            ng-click="editAppointment()" ng-disabled="!isEditAllowed()">
            {{::'EDIT_APPOINTMENT' |translate}}
        </button>
        <button ng-if="!isResetAppointmentStatusFeatureEnabled()"
            show-if-privilege="{{manageAppointmentPrivilege}},{{ownAppointmentPrivilege}}"
            ng-show="isAllowedAction('CheckedIn')" ng-disabled="!isUndoCheckInAllowed()" ng-click="undoCheckIn()">
            {{::'UNDO_CHECK_IN_APPOINTMENT' | translate}}
        </button>
        <button ng-if="isResetAppointmentStatusFeatureEnabled()"
            show-if-privilege="{{manageAppointmentPrivilege}},{{ownAppointmentPrivilege}}"
            ng-disabled="!isResetAppointmentStatusAllowed()" ng-click="reset()">
            {{::'RESET_APPOINTMENT' | translate}}
        </button>
        <button show-if-privilege="{{manageAppointmentPrivilege}},{{ownAppointmentPrivilege}}"
            ng-show="isAllowedAction('CheckedIn')"
            ng-disabled="!isValidActionAndIsUserAllowedToPerformEdit('CheckedIn')" ng-click="checkinAppointment()">
            {{::'CHECK_IN_APPOINTMENT' | translate}}
        </button>
        <button show-if-privilege="{{manageAppointmentPrivilege}},{{ownAppointmentPrivilege}}"
            ng-show="isAllowedAction('Completed')"
            ng-disabled="!isValidActionAndIsUserAllowedToPerformEdit('Completed')"
            ng-click="confirmAction('Completed')">
            {{::'COMPLETE_APPOINTMENT' |translate}}
        </button>
        <!-- <button show-if-privilege="{{manageAppointmentPrivilege}},{{ownAppointmentPrivilege}}"
            ng-show="isAllowedAction('Missed')" ng-disabled="!isValidActionAndIsUserAllowedToPerformEdit('Missed')"
            ng-click="confirmAction('Missed')">
            {{::'MISSED_APPOINTMENT' | translate}}
        </button> -->
        <button show-if-privilege="{{manageAppointmentPrivilege}},{{ownAppointmentPrivilege}}"
            ng-show="isAllowedAction('Cancelled')"
            ng-disabled="!isValidActionAndIsUserAllowedToPerformEdit('Cancelled')"
            ng-click="confirmAction('Cancelled')">
            {{::'CANCEL_APPOINTMENT' | translate}}
        </button>
    </fieldset>
</div>