<div class="dashboard-header">
    <div class="header-title">
        <a href="../home/" style="text-decoration:none;color:#333;">
            <i class="fa fa-chevron-left" style="margin-right:5px;"></i> Back to Home
        </a>
        <span style="margin:0 10px;color:#ccc;">|</span>
    </div>
    <div class="header-tabs">
        <a ui-sref="dashboard.hmis" ui-sref-active="active" class="tab-link">
            <i class="fa fa-bar-chart"></i> HMIS Report
        </a>
        <a ui-sref="dashboard.registration" ui-sref-active="active" class="tab-link">
            <i class="fa fa-user-plus"></i> Registration
        </a>
    </div>
    <div class="sub-tabs-bar">
        <a ui-sref="dashboard.opdRegister" ui-sref-active="active" class="sub-tab-link">
            OPD Register
        </a>
    </div>
</div>