<section id="dispositionSection" class="block disposition" ng-class="::{'hidden-print':noDispositionsMessage}">
    <h2 class="section-title">{{::params | titleTranslate}}</h2>
    <div>
        <table class="dashboard-table history-diagnosis">
            <tbody ng-repeat="disposition in dispositions" class="row">
            <tr class="view-past" ng-class="::{'test-notes-parent': getNotes(disposition), 'notes-open': (disposition.show == true)}">
                <td class="name">
                    <span class="disposition-state">
                        <i ng-if="disposition.code === 'EMERGENCY_KEEP'" class="fa fa-ambulance" style="color: #e67e22; margin-right: 4px;"></i>
                        {{::getDisplayName(disposition)}}
                        <span ng-if="disposition.code === 'EMERGENCY_KEEP' && getCountdown($index) && !isExpired($index)" style="margin-left: 8px; padding: 2px 8px; border-radius: 4px; font-weight: bold; font-size: 12px; background-color: #fff3cd; color: #856404; border: 1px solid #ffc107;">
                            <i class="fa fa-clock-o"></i> {{getCountdown($index).hours}}h {{getCountdown($index).minutes}}m {{getCountdown($index).seconds}}s
                        </span>
                        <span ng-if="disposition.code === 'EMERGENCY_KEEP' && isExpired($index)" style="margin-left: 8px; padding: 2px 8px; border-radius: 4px; font-weight: bold; font-size: 12px; background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb;">
                            <i class="fa fa-exclamation-triangle"></i> Expired
                        </span>
                    </span>
                </td>
                <td class="value">
                    {{::disposition.dispositionDateTime| bahmniDate}}
                </td>
                <td class="toggle-btn" ng-if="::showDetailsButton(disposition)" toggle="disposition.show">
                    <button class="toggle fr" ng-class="::{'has-notes': getNotes(disposition)}">
                        <i class="fa fa-angle-down"></i>
                        <i class="fa fa-angle-up"></i>
                    </button>
                </td>
            </tr>
            <tr ng-if="(disposition.show == true) || getNotes(disposition)" ng-class="::{'has-test-notes': getNotes(disposition)}">
                <td colspan="3" class="notes inline-notes" ng-class="::{'test-notes': getNotes(disposition)}">
                    <i class="fa fa-comments left" ng-if="::getNotes(disposition)"></i>
                    <pre class="left ng-binding">{{::getNotes(disposition)}}</pre>
                    <div class="footer-note right">
                        <span class="provider">
                            <provider-directive creator-name="{{::disposition.creatorName}}" provider-name="{{::disposition.providers[0].name}}" provider-date="::disposition.dispositionDateTime"></provider-directive>
                        </span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-show="::noDispositionsMessage">
            <div class="placeholder-text">{{::'NO_DISPOSTIONS_AVAILABLE_MESSAGE_KEY' | translate}}</div>
        </div>
    </div>
</section>
