<div class="retro-date-widget-panel">
    <div class="input-container">
    <label class="retro-date-label">Select Triage Type</label>
    <select class="form-control" ng-model="selectedTriageType" ng-init="selectedTriageType='Adult ER'" style="height: 40px;" ng-options="id for id in triageType">
    </select>
    </div>
    <div class="retro-widget-button-wrapper">
    <button type="submit" class="retro-widget-button ok_btn start-visit-button" ng-click="selectedTriage(selectedTriageType)">Open -></button>
    </div>
    </div>