<div class="retro-date-widget-panel">
    <div class="input-container">
        <label class="retro-date-label">{{'REGISTRATION_SELECT_VISIT_TYPE'|translate }}</label>
        <select id ="selected" ng-model="selectedVisitType">
            <option ng-repeat="visitType in visitControl.visitTypes | orderBy:'name'" id ="{{visitType.name}}" ng-if="visitType.patientPerVisit != undefined" ng-value="{{visitType}}">{{visitType.name}} --- [{{visitType.patientPerVisit}}]</option>
            <option ng-repeat="visitType in visitControl.visitTypes | orderBy:'name'" id ="{{visitType.name}}" ng-if="visitType.patientPerVisit == undefined" ng-value="{{visitType}}">{{visitType.name}}</option> 
        </select>
    </div>
    <div class="retro-widget-button-wrapper">
        <button type="submit" class="retro-widget-button ok_btn start-visit-button" ng-click="startVisit(selectedVisitType)">{{ 'REGISTRATION_START_VISIT'|translate}} to {{selectedVisitType}}</button>
    </div>
</div>
