<div class="print-header">
    <h1>
        <img class="logo" ng-src="../images/bahmniLogo.png" alt="logo">
        <span style="font-family:nyala">BORU MEDA GENERAL HOSPITAL</span>
    </h1>
    <h2>{{title}}</h2>
</div>
<patient-context patient="patient" show-name-and-image="tabBeingPrinted.printing.showNameAndImage"></patient-context>
<div class="template-container" style="margin-top: 0px; padding-top: 0px;">
    <section class="block">
        <u>{{formDate | bahmniDateTime}}</u>
    </section>
    <section class="block dashboard-section">
        <bahmni-observation patient="patient" config="formConfig" is-on-dashboard="false" section-title="form.section.title"></bahmni-observation>
    </section>
    <section class="block dashboard-section">
        <treatment-data id="treatment-summary" params="treatmentConfig" patientUuid="patient.uuid"></treatment-data>
    </section>
    <section class="block dashboard-section">
        <bahmni-diagnosis patient-uuid="patient.uuid" config="diagnosisConfig" show-latest-diagnosis="false"></bahmni-diagnosis>
    </section>
    <section class="block dashboard-section">
        <investigation-results params="investigationConfig"></investigation-results>
    </section>
</div>